#index {
  margin-top: 10%;
}

[data-theme-toggle] {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

  main {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

.profile_pic {
  -webkit-transform: scaleX(-1);
  width: 20%;
  transform: scaleX(-1);
  box-shadow: 3rem 1rem 3rem rgba(241, 232, 63, 0.5); /* Offset, blur, spread, color */
  border-radius: 10%;
}


@media screen and (max-width: 768px) {
  #index {
    margin: 0;
  }
  .introduction {
    margin: 0;
    padding: 0;
    order: 1;
  }
  .profile_pic {
    width: 50%;
    order: 2;
  }
  main {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 5rem;
    padding: 0 ;
  }
}
