.swiper {
  max-width: 50rem;
  /* width: 100%; */
  /* height: 100%; */
  /* max-height: 30rem; */
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.swiper-slide img {
  /* display: block; */
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 1rem;
}

 .project-card {
  background-color: #fff;
  /* padding: 20px; */
  border: 1px solid #ddd;
  border-radius: 5%;
  /* box-shadow: 0rem 3rem 1rem rgba(241, 232, 63, 0.5);  */
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  
}
.project-links > a:hover {
  color: orange;
  transition-duration: ease-in-out 200ms;
}

@media  (max-width: 768px){

.swiper {
  width: 100%;
  /* height: 100%; */
  /* max-height: 30rem; */
  margin-left: 2rem;
  margin-right: 2rem;
}
.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
}