#header {
  text-align: left;
  font-size: x-large;
  margin-top: 5%;
}

#resume {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
#skills_edu {
  font-size: larger;
  margin-left: 1rem;
}

#experiences {
  margin: 0.3rem;
  padding-block: 2rem;
}
.work_place_title {
  display: flex;
  justify-content: space-between;
}
.work_place_title a {
  color: #5394f0;
}
.work_place_title a:hover {
  color: #186ee6;
}
#experiences > ul > li {
  list-style-type: disc;
  padding-block: 0.2rem;
}

@media screen and (min-width: 768px) {
  #resume {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1rem;
  }
  #skills_edu {
    font-size: larger;
    grid-column-start: 2;
    grid-column-end: 6;
    align-self: start;
    margin-left: 1rem;
  }

  #experiences {
    grid-column-start: 7;
    grid-column-end: 16;
    margin: 0;
  }
}
